body {
	font-family: 'Amiko';
	font-size: 13px;
    margin: 0;
}

ui-view {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #F1F1F1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
	list-style-type: none;
	font-size: 18px;
    color: black;
}

h1 {
    background-color: #FFC300;
	font-size: 24px;
	font-weight: bold;
    color: white;
	text-indent: 5px;
}

table:nth-child(odd) {
	background: #FFFFFF;
}

table:nth-child(even) {
	background: #F1F1F1;
}

td {
	width: 10%;
	padding: 10px;
}

.messages {
	margin: 0;
    padding: 0;
	width: 80%;
    background-color: #FFFFFF;
    position: fixed; 
	left: 20%;
	top: 10px;
	height: 100%;
    overflow: scroll;
	text-indent: 5px;
}

.send-box {
	margin: 0;
    padding: 0;
	width: 80%;
    background-color: #F1F1F1;
    position: fixed; 
	bottom: 0px;
	right: 0px;
	height: 40px;
    overflow: auto;
}

.box-width{
	width: 600px;
	overflow: auto;
}

.username {
	font-weight: bold;
	font-size: 16px;
}

.time {
	color: dimgray;
	font-style: italic;
}

.message {
	color: #797979;
}