body {
	font-family: 'Amiko';
	font-size: 16px;
    margin: 0;
}

ui-view {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #F1F1F1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
	list-style-type: none;
	font-size: 18px;
    color: black;
}

h1 {
    background-color: #FFC300;
	font-size: 24px;
	font-weight: bold;
    color: white;
}