<h1>Bloc Chat</h1>

<ul>
	<li ng-repeat="room in chatroom.rooms">
		{{ room.name }}
	</li>
</ul>

<div ng-controller="CreateRoomCtrl as createRoom">
	<script type="text/ng-template" id="createRoomModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Create new room</h3>
		</div>
        <div class="modal-body">
        	<p>Enter a room name</p>
			<form>
     			<input type="text" ng-model="roomName">
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="$ctrl.ok(roomName)">Create room</button>
        </div>
    </script>
	
	<button class="btn" ng-click="createRoom.open('sm')">New Room</button>
</div>