<h1>Bloc Chat</h1> 

<ul>
	<li ng-repeat="room in chatroom.rooms" ng-click="chatroom.clickedRoom(room)"> 
		{{ room.name }}
	</li>
</ul>

<div ng-controller="CreateRoomCtrl as createRoom">
	<script type="text/ng-template" id="createRoomModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Create new room</h3>
		</div>
        <div class="modal-body">
        	<p>Enter a room name</p>
			<form>
     			<input type="text" ng-model="roomName">
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="$ctrl.ok(roomName)">Create room</button>
        </div>
    </script>
	
	<ul>
		<li>
			<button class="btn" ng-click="createRoom.open('sm')">New Room</button>
		</li>
	</ul>
</div>

<div class="messages">
	<h2 > {{ chatroom.clickedRoom }} </h2>
	<table ng-repeat="message in chatroom.messages">
		<tr>
			<td>
				<span class="username">{{ message.username }}</span>
				<span class="time">{{ message.sentAt }}</span><br />
				<span class="message">{{ message.content }}</span>
			</td>
		</tr>
	</table>
</div>